<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>restricted</title>
    <link rel="stylesheet" href="/stylesheet/share/forbidden.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="lock"></div>
    <div class="message">
      <h1>This page can only be accessed by Shobhit.</h1>
    </div>
    <!-- partial -->
    <div class="backpage">
      <a class="back" href="/">Please go back this way.</a>
    </div>
  </body>
</html>
