:root {
  --nav-title-font-size: 3rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
}
.block_content {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto; /* Moves items to the right */
}

.block_content li {
  margin-left: 10px; /* Adjust spacing */
  margin-right: 10px;
}
.block_content li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-nav li a:hover,
.header-title:hover {
  color: white;
}

.log {
  display: flex;
  list-style-type: none;
  margin-right: 12px;

  background-color: rgba(128, 128, 128, 0.5);
  padding: 5px 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: justify;
}

.log li {
  margin-left: 10px; /* Adjust spacing */
}
.log li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: 10px;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}
